rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /refillers/{refillerId} {
      allow read, write: if true;
    }

    match /machines/{machineId} {
      allow read, write: if true;
    }
    
    match /students/{document=**} {
      allow read, write: if true;
    }
    
    match /tickets/{document=**} {
      allow read, write: if true;
    }
    
    match /feedbacks/{document=**} {
      allow read, write: if true;
    }
    
    // Refiller Notifications
    match /refiller_notifications/{docId} {
      allow read, write: if true;
    }
    
    // Refill logs
    match /refill_logs/{document=**} {
      allow read, write: if true;
    }
    
    // Admin & idle notifications
    match /admin_notifications/{document=**} {
      allow read, write: if true;
    }
    
    // Assignments
    match /assignments/{assignmentId} {
      allow read, write: if true;
    }
    
    match /settings/{docId} {
      allow read: if true;
      allow write: if true;
    }
    
    match /refiller_activities/{document=**} {
      allow read, write: if true;
    }

    // WhatsApp Real-time Conversations & Message Mapping & Notifications
    match /whatsappConversations/{document=**} {
      allow read, write: if true;
    }

    match /whatsapp_message_map/{document=**} {
      allow read, write: if true;
    }

    match /whatsapp_notifications/{document=**} {
      allow read, write: if true;
    }
  }
}
