flask
flask-cors
python-dotenv
requests
google-auth
google-auth-oauthlib
firebase-admin
google-cloud-firestore
pandas
numpy
openpyxl
fpdf
bcrypt
qrcode[pil]
PyPDF2>=3.0.0
pytesseract
pdf2image
Pillow
PyJWT